@font-face {
 font-family: "Noto Sans";
 font-style: normal;
 font-weight: 400;
 src: url("../fonts/NotoSans-Regular.ttf");
}

@font-face {
 font-family: "Noto Sans";
 font-style: normal;
 font-weight: 800;
 src: url("../fonts//NotoSans-Bold.ttf");
}

@font-face {
 font-family: "BBC Reith Sans";
 font-style: normal;
 font-weight: 400;
 src: url("../fonts/BBCReithSerif_W_Rg.woff");
 src: url("../fonts/BBCReithSerif_W_Rg.woff2") format("woff2");
}

@font-face {
 font-family: "BBC Reith Sans";
 font-style: normal;
 font-weight: 800;
 src: url("../fonts/BBCReithSans_W_Bd.woff");
 src: url("../fonts/BBCReithSans_W_Bd.woff2") format("woff2");
}
