//font
%montserrat-reg {
 font-family: "Montserrat", sans-serif;
 font-weight: 400;
}
%montserrat-medium {
 font-family: "Montserrat", sans-serif;
 font-weight: 500;
}
%montserrat-semi-bold {
 font-family: "Montserrat", sans-serif;
 font-weight: 600;
}
%montserrat-bold {
 font-family: "Montserrat", sans-serif;
 font-weight: 700;
}
%montserrat-exbold {
 font-family: "Montserrat", sans-serif;
 font-weight: 800;
}

%tahoma-bold {
 font-family: "Tahoma", sans-serif;
 font-weight: 700;
}
