.section-six {
 background-color: $background-blue;
 padding-bottom: 75px;

 &-list {
  background-color: #fff;
  margin: 0 40px;
  justify-content: space-around;
  border: 1px solid transparent;
  border-radius: 16px;
  box-shadow: 0px 1px 4px 0px $grey-box-shadow;
  padding-bottom: 30px;

  @media (max-width: 992px) {
   padding: 0 10px;
   font-size: 16px;
   margin-bottom: unset;
  }

  &-left {
   padding: 0;
  }

  &-right {
   padding: 0;
  }

  h2 {
   margin: 0;
   text-align: center;
   letter-spacing: 4.4px;
   font-weight: normal;
   padding: 42px 0;

   @media (max-width: 992px) {
    font-size: 20px;
    letter-spacing: 1px;
   }
  }
  &__item {
   display: flex;
   align-items: baseline;
   margin-bottom: 10px;

   @media (max-width: 992px) {
    overflow: hidden;
   }

   p {
    width: 475px;
    line-height: 35px;
   }

   span {
    padding-right: 15px;
   }
  }
 }
}
